<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="net.arifumi.kaidanmeter"
  android:versionCode="8"
  android:versionName="0.8"
  android:installLocation="auto">

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10" />
<!-- 
     <uses-permission android:name="android.permission.NFC" />
     <uses-feature android:name="android.hardware.nfc" />
-->
     <uses-permission android:name="android.permission.INTERNET" />    
     
    <application
      android:icon="@drawable/icon2"
      android:label="@string/app_name" android:theme="@android:style/Theme.Translucent.NoTitleBar">
        <activity
          android:name="KaidanMeter"
          android:label="@string/app_name"
          android:screenOrientation="nosensor"
          android:alwaysRetainTaskState="true"
          android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
<!--            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
-->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>

    </application>
    
</manifest> 